/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "freechips,rocketchip-unknown-dev";
	model = "freechips,rocketchip-unknown";

	chosen {
		bootargs = "console=ttyS0,115200 earlyprintk";
		stdout-path = "serial0:115200n8";
	};

	aliases {
		serial0 = &uart0;
		spi0 = &qspi0;
		eth0 = &eth0;
		i2c0 = &i2c0;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu0: cpu@0 {
			clock-frequency = <50000000>;
			compatible = "sifive,rocket0", "riscv";
			d-cache-block-size = <64>;
			d-cache-sets = <64>;
			d-cache-size = <16384>;
			d-tlb-sets = <1>;
			d-tlb-size = <32>;
			device_type = "cpu";
			hardware-exec-breakpoint-count = <1>;
			i-cache-block-size = <64>;
			i-cache-sets = <64>;
			i-cache-size = <16384>;
			i-tlb-sets = <1>;
			i-tlb-size = <32>;
			mmu-type = "riscv,sv39";
			next-level-cache = <&ram0>;
			reg = <0x0>;
			riscv,isa = "rv64imafdcZicsr_Zifencei_Zihpm_Zba_Zbb_Zbc_Zbkb_Zbkc_Zbkx_Zbs_Zknd_Zkne_Zknh_Zksed_Zksh_Xrocket";
			riscv,pmpgranularity = <4>;
			riscv,pmpregions = <8>;
			status = "okay";
			timebase-frequency = <1000000>;
			tlb-split;
			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
		cpu1: cpu@1 {
			clock-frequency = <50000000>;
			compatible = "sifive,rocket0", "riscv";
			d-cache-block-size = <64>;
			d-cache-sets = <64>;
			d-cache-size = <16384>;
			d-tlb-sets = <1>;
			d-tlb-size = <32>;
			device_type = "cpu";
			hardware-exec-breakpoint-count = <1>;
			i-cache-block-size = <64>;
			i-cache-sets = <64>;
			i-cache-size = <16384>;
			i-tlb-sets = <1>;
			i-tlb-size = <32>;
			mmu-type = "riscv,sv39";
			next-level-cache = <&ram0>;
			reg = <0x1>;
			riscv,isa = "rv64imafdcZicsr_Zifencei_Zihpm_Zba_Zbb_Zbc_Zbkb_Zbkc_Zbkx_Zbs_Zknd_Zkne_Zknh_Zksed_Zksh_Xrocket";
			riscv,pmpgranularity = <4>;
			riscv,pmpregions = <8>;
			status = "okay";
			timebase-frequency = <1000000>;
			tlb-split;
			cpu1_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
	};
	ram0: memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x20000000>;
	};
	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "freechips,rocketchip-unknown-soc", "simple-bus";
		ranges;
		clint0: clint@2000000 {
			compatible = "riscv,clint0";
			interrupts-extended = <&cpu0_intc 3 &cpu0_intc 7 &cpu1_intc 3 &cpu1_intc 7>;
			reg = <0x2000000 0x10000>;
			reg-names = "control";
		};
		error0: error-device@3000 {
			compatible = "sifive,error0";
			reg = <0x3000 0x1000>;
		};
		ext_int0: external-interrupts {
			interrupt-parent = <&plic0>;
			interrupts = <1 2 3 4 5 6>;
		};
		plic0: interrupt-controller@c000000 {
			#interrupt-cells = <1>;
			compatible = "riscv,plic0";
			interrupt-controller;
			interrupts-extended = <&cpu0_intc 11 &cpu0_intc 9 &cpu1_intc 11 &cpu1_intc 9>;
			reg = <0xc000000 0x4000000>;
			reg-names = "control";
			riscv,max-priority = <7>;
			riscv,ndev = <6>;
		};
		mmio0: mmio-port-axi4@60000000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "simple-bus";
			ranges = <0x60000000 0x60000000 0x20000000>;
		};
		boot_rom0: rom@10000 {
			compatible = "sifive,rom0";
			reg = <0x10000 0x10000>;
			reg-names = "mem";
		};
		pbus0: subsystem_pbus_clock {
			#clock-cells = <0>;
			clock-frequency = <100000000>;
			clock-output-names = "subsystem_pbus_clock";
			compatible = "fixed-clock";
		};
		uart0: serial@60200000 {
			compatible = "ns16550a";
			reg = <0x60200000 0x1000>;
			reg-shift = <2>;
			reg-offset = <0x1000>;
			clock-frequency = <100000000>;
			interrupts-extended = <&plic0 0>;
		};
		qspi0: qspi@60100000 {
			compatible = "xlnx,xps-spi-2.00.a";
			reg = <0x60100000 0x1000>;
			fifo-size = <256>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupts-extended = <&plic0 1>;

			flash@0 {
				compatible = "mt25qu02g", "jedec,spi-nor";
				reg = <0>;
			};
		};
		eth_dma0: eth_dma@60300000 {
			reg = <0x0 0x60300000>;
		};
		eth0: eth0@60400000 {
			compatible = "xlnx,axi-ethernet-1.00.a";
			reg = <0x60400000 0x10000>;
			mac-address = [00 11 22 33 44 55];
			device_type = "network";
			axistream-connected = <&eth_dma0>;
			phy-handle = <&ti_dp83867>;
			phy-mode = "sgmii";

			mdio: mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				reset-gpios = <&tca6416a 6 GPIO_ACTIVE_LOW>;
				reset-delay-us = <2>;

				xilinx_phy: phy@0 {
					#phy-cells = <1>;
					device_type = "ethernet-phy";
					reg = <0>;
				};

				ti_dp83867: phy@3 {
					#phy-cells = <1>;
					device_type = "ethernet-phy";
					reg = <3>;
					ti,sgmii-ref-clock-output-enable;
					ti,dp83867-rxctrl-strap-quirk;
				};
			};
		};
		i2c0: i2c@60500000 {
			compatible = "xlnx,xps-iic-2.00.a";
			reg = <0x60500000 0x10000>;
			#size-cells = <0>;
			#address-cells = <1>;
			clock-frequency = <1000>;

			tca6416a: gpio@20 {
				compatible = "ti,tca6416";
				reg = <0x20>;
				#gpio-cells = <2>;
				gpio-controller;
			};
		};
	};
};