# copied from qemu defconfig
CONFIG_RISCV=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x20000
CONFIG_TARGET_ROCKET_CHIP_VCU128=y
CONFIG_ARCH_RV64I=y
# default linux load addr
CONFIG_SYS_LOAD_ADDR=0x80100000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x88000000
# 64MB for image.itb
CONFIG_SYS_BOOTM_LEN=0x4000000

# CONFIG_DISTRO_DEFAULTS=y
CONFIG_FIT=y
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_DM_MTD=y

# reduce image size
CONFIG_BLK=n
CONFIG_MTD=n
CONFIG_DISTRO_DEFAULTS=n
CONFIG_REGEX=n
CONFIG_EFI_LOADER=n
CONFIG_PARTITIONS=n
CONFIG_CMD_NFS=n
CONFIG_CMD_CRC32=n
CONFIG_CMD_LZMADEC=n
CONFIG_CMD_UNLZ4=n
CONFIG_CMD_UNZIP=n
CONFIG_FIT_FULL_CHECK=n
CONFIG_FIT_ENABLE_SHA256_SUPPORT=n
CONFIG_GZIP=n
CONFIG_SHA256=n
CONFIG_DM_MMC=n
CONFIG_CMD_LOADB=n
CONFIG_CMD_FDT=n
CONFIG_CRC32=n
CONFIG_BOOTMETH_DISTRO=n
CONFIG_PXE_UTILS=n
CONFIG_BOOTMETH_VBE=n

# run in s-mode
# as payload of opensbi
CONFIG_RISCV_SMODE=y
CONFIG_SYS_TEXT_BASE=0x80040000

# early debug uart
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_NS16550=y
CONFIG_DEBUG_UART_CLOCK=100000000
CONFIG_DEBUG_UART_BASE=0x60201000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_BAUDRATE=115200

# axi quad spi driver
CONFIG_SPI=y
CONFIG_SPI_FLASH=y
CONFIG_XILINX_SPI=y
CONFIG_CMD_SPI=y
CONFIG_SPI_FLASH_STMICRO=y

# axi ethernet driver
CONFIG_DM_ETH=y
CONFIG_DM_MDIO=y
CONFIG_DM_ETH_PHY=y
CONFIG_PHY=y
CONFIG_NET=y
CONFIG_XILINX_AXIEMAC=y
CONFIG_CMD_MII=n
CONFIG_CMD_MDIO=n
CONFIG_CMD_BOOTP=n
CONFIG_CMD_PING=y
CONFIG_PHY_TI_DP83867=y
CONFIG_PHY_XILINX=y

# axi i2c driver
CONFIG_DM_I2C=n
CONFIG_SYS_I2C_XILINX_XIIC=n
CONFIG_CMD_I2C=n

# tca6416a gpio driver
CONFIG_DM_GPIO=n
CONFIG_DM_PCA953X=n
CONFIG_CMD_GPIO=n

# use dtb from OpenSBI
CONFIG_OF_BOARD=y
CONFIG_DEFAULT_DEVICE_TREE="rocket-chip-vcu128-single-core"
